.navigator-button {
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: bold;

  &:hover {
    background-color: #ffffff;
  }

  .navigator-button-active {
    background-color: #acd9c7;
    &:hover {
      background-color: #ace4cd;
    }
  }
}
